extends layout

block content
  h1= title
  p Mutifile Bioinformatics Visualization

  a(href="/upload")
    button(type="button") Upload a file
  a(href="/list")
    button(type="button") Browse uploaded files
