extends layout

block content
    script( src='https://d3js.org/d3.v3.js')
    script( src='http://tntvis.github.io/tnt.board/build/tnt.board.js')
    script( src='/js/browser.js')
    link(rel='stylesheet', src='../board/tnt.board.css')



    script.
        var mydata = JSON.parse('!{JSON.stringify(data)}');


    div(id='browsers')